/*
  =======================
  Global stylings
  =======================
*/
html {
  font-size: 16px;
}

/*
  =======================
  General layout
  =======================
*/
header {
  background-color: #fff;
}

main {
  padding: 88px 24px;
}

.hidden {
  position: absolute;
  left: -9999999px;
}

.overflow-hidden {
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
}

.social-media-links {
  color: #505f79;
}

.caption {
  font: 600 0.81rem/1rem "Poppins", sans-serif;
  color: #7a869a;
}

.caption-bold {
  color: #344563;
  text-transform: uppercase;
}

.project-tag {
  font: 500 0.75rem/1rem "Poppins", sans-serif;
  color: #6070ff;
  letter-spacing: 0.03em;
  padding: 0.25rem 0.75rem;
  background-color: #ebebff;
  border-radius: 8px;
  margin: 0 0.5rem 0.5rem;
}

/*
  =======================
  Typography
  =======================
*/
body {
  font: normal 1rem/1.5rem "Poppins", sans-serif;
  background-color: #e5e5e5;
  color: #344563;
}

h2 {
  font: bold 2.5rem/3.25rem "Poppins", sans-serif;
  color: #172b4d;
}

h3 {
  font: bold 2rem/2.75rem "Poppins", sans-serif;
  color: #172b4d;
}

h4 {
  font: 500 1.25rem/1.5rem "Poppins", sans-serif;
  color: #000;
}

h5 {
  font: 500 1rem/1.5rem "Poppins", sans-serif;
  color: #7f8cff;
  text-transform: uppercase;
}

ul {
  list-style: none;
  padding-left: 0;
}

.neutral-bullet-point {
  color: #c1c7d0;
}

/* Buttons */
button {
  font: 500 1.06rem/1.5rem "Poppins", sans-serif;
  color: #6070ff;
  padding: 0.75rem;
  background-color: transparent;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  letter-spacing: 0.03em;
}

button:hover {
  color: #fff;
  background-color: #6070ff;
  box-shadow: 0 0.5rem 1rem rgba(64, 83, 252, 0.24);
}

button:active {
  color: #fff;
  background-color: #2230d2;
}

button:disabled {
  color: #5e6c84;
  border-color: #c1c7d0;
}

/*
  =======================
  Header
  =======================
*/
/* Navbar */
.navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

/* Header Content */
.header-content {
  padding-top: 20%;
}

/*
  =======================
  Main
  =======================
*/
.project-section {
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  margin: 44px 0;
}

.screenshot-div-frame {
  padding-top: 75%;
  height: 0;
  position: relative;
  border-radius: 8px;
}

.screenshot-div-frame-1-bg-color {
  background-color: #ffb175;
}

.screenshot-div-frame-2-bg-color {
  background-color: #ebe4df;
}

.screenshot-div-frame-3-bg-color {
  background-color: #f28729;
}

.screenshot-div-frame-4-bg-color {
  background-color: #fff;
}

.screenshot-div-frame-5-bg-color {
  background-color: #ebebff;
}

.screenshot-div-frame-6-bg-color {
  background-color: #ebebff;
}

.project-screenshot-div-container {
  position: absolute;
  top: 1.75rem;
  left: 1.25rem;
  right: 1.25rem;
  bottom: 1.75rem;
  z-index: 1;
  box-shadow: 0 0.75rem 10px rgba(0, 0, 0, 0.24);
}

.project-screenshot-1-background {
  background: transparent url(../images/Screenshot-Newsweek-HTML-CSS.png) center/cover no-repeat;
}

.project-screenshot-2-background {
  background: transparent url(../images/Screenshot-ReceipeBuddies-Rails.png) left/contain no-repeat;
}

.project-screenshot-3-background {
  background: transparent url(../images/Screenshot-SocialScaffold-Rails.png) center/cover no-repeat;
}

.project-screenshot-4-background {
  background: transparent url(../images/Screenshot-SalsaFestival2020-HTML-SCSS.png) center/cover no-repeat;
}

.project-screenshot-5-background {
  background: transparent url(../images/Screenshot-MD-Cleaner-Ruby.png) center/cover no-repeat;
}

.project-screenshot-6-background {
  background: transparent url(../images/Screenshot-TicTacToe-Ruby.png) center/cover no-repeat;
}

.project-section-para {
  font-size: 0.94rem;
}

/*# sourceMappingURL=home.css.map */
