/*
  =======================
  Global stylings
  =======================
*/
html {
  font-size: 16px;
}

html,
body {
  overflow-x: hidden;
}

/*
  =======================
  General layout
  =======================
*/
header,
footer {
  background-color: #fff;
}

main {
  padding: 72px 24px;
}

.hidden {
  position: absolute;
  left: -9999999px;
}

.overflow-hidden {
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
}

.social-media-links {
  color: #505f79;
}

.caption {
  font: 600 0.81rem/1rem "Poppins", sans-serif;
  color: #7a869a;
}

.caption-bold {
  color: #344563;
  text-transform: uppercase;
}

.project-tag {
  font: 500 0.75rem/1rem "Poppins", sans-serif;
  color: #6070ff;
  letter-spacing: 0.03em;
  padding: 0.25rem 0.75rem;
  background-color: #ebebff;
  border-radius: 8px;
  margin: 0 0.5rem 0.5rem;
}

.modal-content {
  border-radius: 16px;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  justify-content: normal;
  border-top: none;
}

/*
  =======================
  Typography
  =======================
*/
body {
  font: normal 1rem/1.5rem "Poppins", sans-serif;
  background-color: #f4f5f7;
  color: #344563;
}

h2 {
  font: bold 2.5rem/3.25rem "Poppins", sans-serif;
  margin-top: 88px;
  color: #172b4d;
}

h3 {
  font: bold 2rem/2.75rem "Poppins", sans-serif;
  color: #172b4d;
}

h4 {
  font: 500 1.25rem/1.5rem "Poppins", sans-serif;
  color: #000;
}

h5 {
  font: 500 1rem/1.5rem "Poppins", sans-serif;
  color: #7f8cff;
  text-transform: uppercase;
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: #565079;
}

input,
textarea {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

textarea {
  resize: none;
}

textarea::placeholder {
  font: normal 0.93rem/1.5rem "Poppins", sans-serif;
  color: #b3bac5;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font: normal 1.06rem/1.45rem "Poppins", sans-serif;
  color: #172b4d;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font: normal 1.06rem/1.45rem "Poppins", sans-serif;
  color: #172b4d;
  opacity: 1;
}

:-ms-input-placeholder {
  /* IE 10+ */
  font: normal 1.06rem/1.45rem "Poppins", sans-serif;
  color: #172b4d;
}

:-moz-placeholder {
  /* Firefox 18- */
  font: normal 1.06rem/1.45rem "Poppins", sans-serif;
  color: #172b4d;
  opacity: 1;
}

.neutral-bullet-point {
  color: #c1c7d0;
}

.modal-body p {
  font: normal 0.94rem/1.5rem "Poppins", sans-serif;
}

/* Buttons */
button {
  font: 500 1.06rem/1.5rem "Poppins", sans-serif;
  color: #6070ff;
  padding: 0.75rem;
  background-color: transparent;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  letter-spacing: 0.03em;
  margin: 1rem 0;
}

.modal-button {
  font-size: 0.94rem;
  line-height: 1.25rem;
}

button:hover {
  color: #fff;
  background-color: #6070ff;
  box-shadow: 0 0.5rem 1rem rgba(64, 83, 252, 0.24);
}

button:active {
  color: #fff;
  background-color: #2230d2;
}

button:disabled {
  color: #5e6c84;
  border-color: #c1c7d0;
}

.thank-you-h2 {
  color: #6070ff;
}

.social-media-links .fab {
  color: #505f79;
}
