/*
  =======================
  Global stylings
  =======================
*/
html {
  font-size: 16px;
}

// Color Pallette //

$bg-color: #e5e5e5;
$primary-color: #6070ff;
$primary-color-complement: #ebebff;
$icons: #505f79;
$white: #fff;
$neutrals: #7a869a;

// Font Variables //

$primary-font: 'Poppins',
  sans-serif;

@mixin font-styles($weight: normal, $font-size: 1rem, $line-height: 1.5rem, $font: $primary-font) {
  font: $weight #{$font-size}/#{$line-height} $font;
}

$body-font-color: #344563;
$header-font-color: #172b4d;
$sub-header-font-color: #000;
$inline-section-header: #7f8cff;

// Buttons //

$button-enabled-border: $inline-section-header;
$button-pressed: #2230d2;
$button-text-disabled: #5e6c84;
$button-border-disabled: #c1c7d0;

/*
  =======================
  General layout
  =======================
*/

.hidden {
  position: absolute;
  left: -9999999px;
}

.overflow-hidden {
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
}

.caption {
  @include font-styles($weight: 600, $font-size: 0.81rem, $line-height: 1rem);

  color: $neutrals;

  .caption-bold {
    color: $body-font-color;
    text-transform: uppercase;
  }
}

.project-tag {
  @include font-styles($weight: 500, $font-size: 0.75rem, $line-height: 1rem);

  color: $primary-color;
  letter-spacing: 0.03em;
  padding: 0.25rem 0.75rem;
  background-color: $primary-color-complement;
  border-radius: 8px;
  margin: 0 0.5rem;
}


/*
  =======================
  Typography
  =======================
*/
body {
  @include font-styles;

  color: $body-font-color;
}

h2 {
  @include font-styles($weight: bold, $font-size: 2.5rem, $line-height: 3.25rem);

  color: $header-font-color;
}

h3 {
  @include font-styles($weight: bold, $font-size: 2rem, $line-height: 2.75rem);

  color: $header-font-color;
}

h4 {
  @include font-styles($weight: 500, $font-size: 1.25rem, $line-height: 1.5rem);

  color: $sub-header-font-color;
}

h5 {
  @include font-styles($weight: 500);

  color: $inline-section-header;
  text-transform: uppercase;
}

/* Buttons */

button {
  @include font-styles($weight: 500, $font-size: 1.06rem);

  color: $primary-color;
  padding: 0.75rem;
  background-color: transparent;
  border: 1px solid $button-enabled-border;
  border-radius: 8px;
  letter-spacing: 0.03em;
}

button:hover {
  color: $white;
  background-color: $primary-color;
  box-shadow: 0 0.5rem 1rem rgba(64, 83, 252, 0.24);
}

button:active {
  color: $white;
  background-color: $button-pressed;
}

button:disabled {
  color: $button-text-disabled;
  border-color: $button-border-disabled;
}
