/*
  =======================
  Global stylings
  =======================
*/


/*
  =======================
  General layout
  =======================
*/
.hidden {
  position: absolute;
  left: -9999999px;
}

.overflow-hidden {
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
}

/*
  =======================
  Typography
  =======================
*/
