@import './global_styles';
@import './mobile_menu';

/*
  =======================
  Header
  =======================
*/

.header {
  border-radius: 0 0 0 88px;
  position: relative;

  h2,
  p,
  h5,
  ul {
    z-index: 3;
    position: relative;
  }
}

.background-icons-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.header-bg-icons {
  position: absolute;
}

.cat-icon {
  right: 10px;
  bottom: 24px;
  rotate: 45deg;
  width: 56px;
  opacity: 40%;
}

.netflix-icon {
  right: -130px;
  top: 80px;
  rotate: 55deg;
  opacity: 40%;
}

.cat-icon-2 {
  top: 260px;
  left: 180px;
  opacity: 20%;
}

.supermario-icon {
  bottom: 70px;
  left: 130px;
  rotate: -33deg;
  width: 56px;
  opacity: 55%;
}

.wavy-line-icon {
  top: 60px;
  left: 20px;
  opacity: 30%;
}

.wavy-line-icon-2 {
  top: 200px;
  left: 60px;
  opacity: 10%;
  width: 35px;
}

.wavy-line-icon-3 {
  bottom: -5px;
  left: 0;
  rotate: 90deg;
  opacity: 80%;
}

/* Navbar */

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: top 0.3s;
  z-index: 100;
}

.reload-page-logo {
  width: 32px;
}

.menu-button-mobile {
  color: $primary-color;
}

.social-media-links .fab {
  color: $icons;
}

.social-media-links-top {
  margin-bottom: 88px;
}

/*
  =======================
  Main
  =======================
*/

.project-section {
  background-color: $white;
  border-radius: 16px;
  border: 1px solid $border-neutral;
  margin: 44px 0;
}

.screenshot-div-frame {
  padding-top: 75%;
  height: 0;
  position: relative;
  border-radius: 8px;
}

.screenshot-div-frame-1-bg-color {
  background-color: #ffb175;
}

.screenshot-div-frame-2-bg-color {
  background-color: #ebe4df;
}

.screenshot-div-frame-3-bg-color {
  background-color: #f28729;
}

.screenshot-div-frame-4-bg-color {
  background-color: #ebe4df;
}

.screenshot-div-frame-5-bg-color {
  background-color: $primary-color-complement;
}

.screenshot-div-frame-6-bg-color {
  background-color: $primary-color-complement;
}

.project-screenshot-div-container {
  position: absolute;
  top: $spacer * 1.75;
  left: $spacer * 1.25;
  right: $spacer * 1.25;
  bottom: $spacer * 1.75;
  z-index: 1;
  box-shadow: 0 0.75rem 10px rgba(0, 0, 0, 0.24);
}

.project-screenshot-1-background {
  background: transparent url(../images/Screenshot-Newsweek-HTML-CSS.png) center/cover no-repeat;
}

.project-screenshot-2-background {
  background: transparent url(../images/Screenshot-ReceipeBuddies-Rails.png) left/contain no-repeat;
}

.project-screenshot-3-background {
  background: transparent url(../images/Screenshot-SocialScaffold-Rails.png) center/cover no-repeat;
}

.project-screenshot-4-background {
  background: transparent url(../images/Screenshot-SalsaFestival2020-HTML-SCSS.png) center/cover no-repeat;
}

.project-screenshot-5-background {
  background: transparent url(../images/Screenshot-MD-Cleaner-Ruby.png) center/cover no-repeat;
}

.project-screenshot-6-background {
  background: transparent url(../images/Screenshot-TicTacToe-Ruby.png) center/cover no-repeat;
}

.project-section-para {
  font-size: 0.94rem;
}

/*
  =======================
  Footer
  =======================
*/

.footer {
  border-radius: 0 88px 0 0;
}

.details-content-container {
  @include font-styles($weight: 500, $font-size: 0.94rem, $line-height: 1.25rem);

  background-color: $details-box;
  border-radius: 8px;
  color: $details-text;
}

.language-logo {
  width: 48px;
}

.circular-border {
  border-radius: 100%;
}

.contact-me {
  border-radius: 88px 0 0 0;
  background-color: $primary-color;
  color: $white;
  position: relative;
}

.wavy-line-icon-drk-bg-1 {
  top: 60px;
  rotate: 90deg;
  opacity: 50%;
}

.wavy-line-icon-drk-bg-2 {
  top: 200px;
  right: 80px;
  opacity: 30%;
  width: 46px;
}

.wavy-line-icon-drk-bg-3 {
  bottom: -20px;
  rotate: 90deg;
  opacity: 50%;
}

.contact-me,
.contact-me h2 {
  position: relative;
  z-index: 3;
}

.contact-me h2 {
  color: $white;
}

.contact-me-para {
  @include font-styles($font-size: 1.25rem, $line-height: 1.75rem);

  color: $primary-color-complement;
  position: relative;
  z-index: 3;
}

.white-button {
  background-color: $white;
  position: relative;
  z-index: 3;
}

/*
  =======================
  Media Query: MD
  =======================
*/

@media (min-width: 768px) {
  /* Global Stylings */

  html {
    font-size: 20px;
  }

  h2 {
    margin-top: 88px*3.75;
  }

  button {
    @include font-styles($weight: 500, $font-size: 0.85rem, $line-height: 1.2rem);
  }

  .header {
    border-radius: 0 0 0 88px*2;
  }

  /* Navbar */

  .nav-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    transition: top 0.3s;
  }

  .nav-wrapper-scroll-class {
    background-color: $white;
    border: 1px solid $border-neutral;
    box-shadow: 0 0.7rem 10px	rgb(235, 235, 255, 0.84);
  }

  .navbar {
    position: static;
    max-width: $extra-wide-content;
  }

  .nav-links-md a {
    @include font-styles($weight: 500, $font-size: 0.75rem, $line-height: 1rem, $font: $primary-font);

    color: $body-font-color;
  }

  /* Header Content */

  .header-content-wrapper {
    max-width: $wide-content;
    margin: auto;
  }

  .social-media-links .fab {
    font-size: 1.2rem;
  }

  .social-media-links-top {
    margin-bottom: 88px*2.75;
  }

  /* Main */
  .project-section {
    margin: 44px*1.7 0;
    width: 100%;
    max-width: $extra-wide-content;
    position: relative;
    border: none;
    border-radius: 24px;
  }

  .project-md-stretched-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    border: 1px solid $border-neutral;
    border-radius: 24px;
  }

  .project-md-stretched-link:hover {
    border: 2px solid $project-hover-border;
    box-shadow: 0 1.75rem 20px	rgb(235, 235, 255, 0.84);
  }

  .project-md-stretched-link:hover ~ button {
    color: $white;
    background-color: $primary-color;
    box-shadow: 0 0.5rem 1rem rgba(64, 83, 252, 0.24);
  }

  .project-md-stretched-link:active ~ button {
    color: $white;
    background-color: $button-pressed;
  }

  .screenshot-div-frame {
    padding-top: 75%;
    height: 0;
    position: relative;
    border-radius: 8px;
  }

  .project-section-para {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  /* Footer */

  .footer {
    border-radius: 0 88px*2 0 0;
  }

  .contact-me {
    border-radius: 88px*2 0 0 0;
  }
}
